* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {  
  --color-primary: #283044;
  --color-blue: #78A1BB;
  --color-light: #EBF5EE;
  --color-sand: #EBE6D3;
  --color-tan: #8B786D;
}
.App {
  text-align: center;
 }
 .header {
  color: var(--color-light);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 300%;
  font-weight: lighter;
 }
 .coastline {
   position: relative;
   margin: 0px;
   height: 45vh;
   /* -webkit-box-shadow: 0px 0px 78px -14px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 78px -14px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 78px -14px rgba(0,0,0,0.75); */
   z-index: 0;
 }
 .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
 }
 .logo {
   margin-right: 5px;
 }

 .surf-city-pin {
  position: absolute;
	left: 63%;
  top: 38%;
  z-index: 1;	 
 }

 .NE-pin {
   position: absolute;
   left: 46%;
   top: 48%;   
   z-index: 1;
 }

 .SE-pin {
  position: absolute;
  left: 37%;
  top: 58%;   
  z-index: 1;
 }

 .CB-pin {
  position: absolute;
  left: 30%;
  top: 70%;   
  z-index: 1;
 }

 .surf-suggestion {
   color: var(--color-light);
   margin: 0px;
 }